<meta http-equiv="Content-Security-Policy" content="default-src 'self'; script-src 'self' https://ajax.cloudflare.com https://use.fontawesome.com; style-src 'self' 'unsafe-inline'"/>
<!-- report-uri https://olbat.report-uri.com/r/d/csp/enforce -->
<meta http-equiv="X-XSS-Protection" content="1; mode=block; report=https://olbat.report-uri.com/r/d/xss/enforce"/>

<meta name="robots" content="index, follow" />
<meta name="referrer" content="origin" />
<link rel="icon" type="image/gif" href="{{'/assets/images/favicon.gif' | absolute_url}}" />
