<meta http-equiv="Content-Security-Policy" content="default-src 'self'; script-src 'self' https://ajax.cloudflare.com https://use.fontawesome.com; style-src 'self' 'unsafe-inline'; frame-ancestors 'none';"/>
<!-- report-uri https://olbat.report-uri.com/r/d/csp/enforce -->
<meta http-equiv="X-XSS-Protection" content="1; mode=block; report=https://olbat.report-uri.com/r/d/xss/enforce"/>
<meta http-equiv="Feature-Policy" content="geolocation 'none'; midi 'none'; notifications 'none'; push 'none'; microphone 'none'; camera 'none'; accelerometer 'none'; magnetometer 'none'; gyroscope 'none'; speaker 'none'; vibrate 'none'; payment 'none'; usb 'none'; vr 'none'; sync-xhr 'self';"/>
<meta http-equiv="Referrer-Policy" content="strict-origin-when-cross-origin"/>

<meta http-equiv="Public-Key-Pins" content='pin-sha256="xzyQeYHLztwo8SFf9pM2d1htw5it5sGkBYuAeleLlqA="; pin-sha256="lCppFqbkrlJ3EcVFAkeip0+44VaoJUymbnOaEUk7tEU="; pin-sha256="K87oWBWM9UZfyddvDfoxL+8lpNyoUB2ptGtn0fv6G2Q="; max-age=86400; report-uri="https://olbat.report-uri.com/r/d/hpkp/enforce"'/>
<meta http-equiv="Expect-CT" content='max-age=86400, report-uri="https://olbat.report-uri.com/r/d/ct/reportOnly"'/>
<meta http-equiv="Expect-Staple" content='max-age=86400, report-uri="https://olbat.report-uri.com/r/d/staple/reportOnly"'/>

<meta name="robots" content="index, follow" />
<meta name="referrer" content="origin" />
<link rel="icon" type="image/gif" href="{{'/assets/images/favicon.gif' | absolute_url}}" />
