<meta http-equiv="Content-Security-Policy" content="default-src 'self'; script-src 'self' 'sha256-c7TMDkQ7LWNg1RZ5AX+ABdNwtEoMRxP/crHuUqWvRj4=' https://ajax.cloudflare.com; style-src 'self'; require-sri-for script style"/>
<!-- upgrade-insecure-requests; frame-ancestors 'none'; report-uri https://olbat.report-uri.com/r/d/csp/enforce;  -->
<meta http-equiv="X-XSS-Protection" content="1; mode=block; report=https://olbat.report-uri.com/r/d/xss/enforce"/>
<meta http-equiv="Feature-Policy" content="geolocation 'none'; midi 'none'; notifications 'none'; push 'none'; microphone 'none'; camera 'none'; accelerometer 'none'; magnetometer 'none'; gyroscope 'none'; speaker 'none'; vibrate 'none'; payment 'none'; usb 'none'; vr 'none'; sync-xhr 'self'"/>
<meta http-equiv="Referrer-Policy" content="strict-origin-when-cross-origin"/>

<meta http-equiv="Expect-CT" content='max-age=86400, report-uri="https://olbat.report-uri.com/r/d/ct/reportOnly"'/>
<meta http-equiv="Expect-Staple" content='max-age=86400, report-uri="https://olbat.report-uri.com/r/d/staple/reportOnly"'/>

<meta name="robots" content="index, follow" />
<meta name="referrer" content="origin" />

<!-- preload images for later usage -->
<link rel="preload" href="{{ page.header.overlay_image | relative_url }}" as="image" />
{% if page.url != "/" %}
<link rel="preload" href="{{ site.author.avatar | relative_url }}" as="image" />
{% endif %}
