# Site Settings
theme                    : "minimal-mistakes-jekyll"
minimal_mistakes_skin    : "default"
locale                   : "en"
title                    : "olbat.net"
title_separator          : "-"
name                     : "Luc Sarzyniec"
description              : "Luc Sarzyniec's personal website"
url                      : "https://olbat.net"
baseurl                  : ""
repository               : "olbat/olbat.github.io"
breadcrumbs              : false
comments:
  provider               : false
search                   : false

# SEO Related
google_site_verification : "PdkgBGChsZFlfcrMlb-OMyE_M9tVe4mJ2K3WxXzyVus"
bing_site_verification   : "D11742D9C083A61E9B0F70C82CA843C0"
yandex_site_verification : "7d604b64298304b3"
alturls                  :
  - "https://olbat.github.io/"
  - "https://olbat.gitlab.io/"
  - "http://olbat2ioei6id2k2bjcmi4bwhykmkdkls642s7lm6jtuaqmy7yatx3id.onion/"

# Social Sharing
twitter:
  username: "olbat"
og_image: "/assets/images/avatar.png"
social:
 type: "Person"
 links:
   - "https://www.linkedin.com/in/lucsarzyniec"
   - "https://twitter.com/olbat"
   - "https://github.com/olbat"
   - "https://www.youtube.com/user/o1b4t"
   - "https://plus.google.com/116217395848119372994"

# Analytics
analytics:
  provider: false

# Site Author
author:
  name             : "Luc Sarzyniec"
  avatar           : "assets/images/avatar-small.png"
  bio              : "Software Engineer"
  location         : "Nancy, France"
  email            : "contact@AT@olbat.DOT.net"
  github           : "olbat"
  keybase          : "olbat"
  linkedin         : "lucsarzyniec"


# Reading Files
include:
  - .htaccess
  - _pages
  - CNAME
  - files
exclude:
  - config
  - vendor
  - .asset-cache
  - .bundle
  - .jekyll-assets-cache
  - .sass-cache
  - assets/js/plugins
  - assets/js/_main.js
  - assets/js/vendor
  - assets/js/lunr.min.js
  - assets/js/lunr-en.js
  - Gemfile
  - Gemfile.lock
  - Rakefile
  - Dockerfile
  - README.md
keep_files:
encoding: "utf-8"
markdown_ext: "markdown,mkdown,mkdn,mkd,md"


# Conversion
markdown: kramdown
highlighter: rouge
lsi: false
excerpt_separator: "\n\n"
incremental: false


# Markdown Processing
kramdown:
  input: GFM
  hard_wrap: false
  auto_ids: true
  footnote_nr: 1
  entity_output: as_char
  toc_levels: 1..6
  smart_quotes: lsquo,rsquo,ldquo,rdquo
  enable_coderay: false


# Sass/SCSS
sass:
  sass_dir: _sass
  style: compressed # http://sass-lang.com/documentation/file.SASS_REFERENCE.html#output_style


# Outputting
permalink: /:categories/:title/
timezone: Europe/Paris


# Plugins
plugins:
  - jekyll-sitemap
  - jekyll-feed
  - jekyll-github-metadata

# mimic GitHub Pages with --safe
whitelist:
  - jekyll-sitemap
  - jekyll-feed
  - jekyll-github-metadata


# HTML Compression
# - http://jch.penibelst.de/
compress_html:
  clippings: all
  blanklines: true
  comments: ["<!-- ", " -->"]


# Defaults
defaults:
  # _pages
  - scope:
      path: ""
      type: pages
    values:
      layout: single
      author_profile: true
      sitemap: true
      read_time: false
      comments: false
      share: false
      related: true
      header:
        overlay_image: assets/images/banner.jpg
  # files
  - scope:
      path: "files/**"
    values:
      sitemap: false
