{% assign author = page.author | default: page.authors[0] | default: site.author %}
{% assign author = site.data.authors[author] | default: author %}

<div itemscope itemtype="https://schema.org/Person" class="h-card">

  {% if author.avatar %}
    <div class="author__avatar">
      <a href="{{ author.home | default: '/' | absolute_url }}">
        <img src="{{ author.avatar | relative_url }}" alt="{{ author.name }}" itemprop="image" class="u-photo" width="110" height="110">
      </a>
    </div>
  {% endif %}

  <div class="author__content">
    <h2 class="author__name p-name" itemprop="name">
      <a class="u-url" rel="me" href="{{ author.home | default: '/' | absolute_url }}" itemprop="url">{{ author.name }}</a>
    </h2>
    {% if author.bio %}
      <div class="author__bio p-note" itemprop="description">
        {{ author.bio | markdownify }}
      </div>
    {% endif %}
  </div>

  <div class="author__urls-wrapper">
    <button class="btn btn--inverse">{{ site.data.ui-text[site.locale].follow_label | remove: ":" | default: "Follow" }}</button>
    <ul class="author__urls social-icons">
      {% if author.location %}
        <li itemprop="homeLocation" itemscope itemtype="https://schema.org/Place">
          {% include icon.html name="location-dot" class="fa-fw" %} <span itemprop="name" class="p-locality">{{ author.location }}</span>
        </li>
      {% endif %}

      {% if author.email %}
        <li>
          <a href="mailto:{{ author.email }}" rel="me" class="u-email">
            <meta itemprop="email" content="{{ author.email }}" />
            {% include icon.html name="square-envelope" class="fa-fw" %}<span class="label">{{ site.data.ui-text[site.locale].email_label | default: "Email" }}</span>
          </a>
        </li>
      {% endif %}

      {% if author.keybase %}
        <li>
          <a href="https://keybase.io/{{ author.keybase }}" itemprop="sameAs" rel="nofollow noopener noreferrer me">
            {% include icon.html name="keybase" class="fa-fw" %}<span class="label">Keybase</span>
          </a>
        </li>
      {% endif %}

      {% if author.linkedin %}
        <li>
          <a href="https://www.linkedin.com/in/{{ author.linkedin }}" itemprop="sameAs" rel="nofollow noopener noreferrer me">
            {% include icon.html name="linkedin" class="fa-fw" %}<span class="label">LinkedIn</span>
          </a>
        </li>
      {% endif %}

      {% if author.github %}
        <li>
          <a href="https://github.com/{{ author.github }}" itemprop="sameAs" rel="nofollow noopener noreferrer me">
            {% include icon.html name="github" class="fa-fw" %}<span class="label">GitHub</span>
          </a>
        </li>
      {% endif %}
    </ul>
  </div>
</div>
