<script type="application/ld+json">
{
  "@context": "http://schema.org/",
  "@graph": [
  {%- for profile in include.identities.profiles -%}
    {
      "@type": "ProfilePage",
      "name": "{{profile.id}}",
      {%- if profile.name %}"description": "{{profile.name}}",{% endif %}
      "url": "{{profile.url}}",
      "relatedLink": "{{site.url}}",
      "specialty": {
        "@type": "Specialty",
        "name": "{{profile.type | capitalize}}"
      }
    },
  {% endfor -%}
  {%- for website in include.identities.websites -%}
    {
      "@type": "Website",
      "name": "{{website.name}}",
      "url": "{{website.url}}"
    },
  {% endfor -%}
    {
      "@type": "Person",
      "name": "{{site.author.name}}",
      "description": "{{site.author.bio}}",
      "email": "{{site.author.email}}",
      "image": "{{site.author.avatar | absolute_url}}",
      "identifier": [
      {% if include.identities.pgp %}
        {
          "@type": "PropertyValue",
          "name": "pgp_public_key",
          "description": "PGP public key",
          "value": "{{include.identities.pgp.fingerprint}}"
        },
      {% endif -%}
      {% for msg in include.identities.messaging -%}
        {
          "@type": "PropertyValue",
	  "name": "{{msg.id}}_address",
	  {%- if msg.name %}"description": "{{msg.name}}",{% endif %}
          "value": "{{msg.address}}"
	}{% unless forloop.last %},{% endunless %}
      {% endfor %}
      ],
      "url": "{{site.url}}",
      {%- if site.author.location -%}
      "homeLocation": {
        "@type": "Place",
        "name": "{{site.author.location}}"
      },
      {% endif %}
      "sameAs": [
      {% for profile in include.identities.profiles -%}
	"{{profile.url}}"{% unless forloop.last %},{% endunless %}
      {% endfor %}
      ]
    }
  ]
}
</script>
