---
# Only the main Sass file needs front matter (the dashes are enough)
---

@charset "utf-8";

$right-sidebar-width-narrow   : 100px;
$right-sidebar-width          : 200px;
$right-sidebar-width-wide     : 300px;
$right-sidebar-padding-diff-narrow: 75px;
$right-sidebar-padding-diff: 150px;
$right-sidebar-padding-diff-wide: 200px;

@import "minimal-mistakes/skins/_default.scss";
@import "minimal-mistakes";

.page {
  @include breakpoint($large) {
    float: right;
    width: calc(100% - #{$right-sidebar-width-narrow});
    padding-right: $right-sidebar-width-narrow - $right-sidebar-padding-diff-narrow;
  }

  @include breakpoint($x-large) {
    width: calc(100% - #{$right-sidebar-width});
    padding-right: $right-sidebar-width - $right-sidebar-padding-diff;
  }
}

.page__footer footer {
  margin-top: 1em;
  margin-right: 1em;
  padding-bottom: 1em;
}

.page__content p {
  margin: 0 0 0.75em;
}

html {
  font-size: 14px;

  @include breakpoint($medium) {
    font-size: 14px;
  }

  @include breakpoint($large) {
    font-size: 16px;
  }

  @include breakpoint($x-large) {
    font-size: 18px;
  }
}

h1, h2, h3, h4, h5, h6 {
  margin: 1.7em 0 0;
}

ul li,
ol li {
  margin-bottom: 0.2em;
  margin-top: 0.2em;
}

th {
  border-bottom: 1px solid mix(#000, $border-color, 25%);
}

td {
  border: 0px;
}


a {
  text-decoration: none;
}

figure {
  margin-top: 1em;
}

img {
  border: 1px solid lightgray;
}
