---
# Only the main Sass file needs front matter (the dashes are enough)
---

@charset "utf-8";

$right-sidebar-width-narrow   : 100px;
$right-sidebar-width          : 200px;
$right-sidebar-width-wide     : 300px;
$right-sidebar-padding-diff-narrow: 75px;
$right-sidebar-padding-diff: 150px;
$right-sidebar-padding-diff-wide: 200px;

@import "minimal-mistakes/skins/{{ site.minimal_mistakes_skin | default: 'default' }}";
@import "minimal-mistakes";
@import "svg-with-js"; // generate by the generate:stylesheet Rake task

.page {
  @include breakpoint($large) {
    float: right;
    width: calc(100% - #{$right-sidebar-width-narrow});
    padding-right: $right-sidebar-width-narrow - $right-sidebar-padding-diff-narrow;
  }

  @include breakpoint($x-large) {
    width: calc(100% - #{$right-sidebar-width});
    padding-right: $right-sidebar-width - $right-sidebar-padding-diff;
  }
}

.page__hero--overlay {
  padding: 1.5em 0;
  background-image: url('{{ page.header.overlay_image | relative_url }}');
}

.page__lead {
  margin-bottom: 0;
}

.page__footer footer {
  margin-top: 1em;
  margin-right: 1em;
  padding-bottom: 1em;
}

.page__content p {
  margin: 0 0 0.75em;
}


.page__head_links {
  float: right;
}

.footer__links {
  margin-right: 16px;
}

.page_cv__cv_block {
  float: left;
  margin-left: 10%;
}

.page_ids__profile_group_block {
  float: left;
  margin-right: 1.5em;
}

%page_ids__profile_group_block_columns {
  margin-top: 0.2em;
  column-gap: 2em;
}

.page_ids__profile_group_block_1columns {
  column-count: 1;
  @extend %page_ids__profile_group_block_columns;
}

.page_ids__profile_group_block_2columns {
  column-count: 2;
  @extend %page_ids__profile_group_block_columns;
}

.page_ids__profile_group_block_3columns {
  column-count: 3;
  @extend %page_ids__profile_group_block_columns;
}

.page_ids__profile_group_block_4columns {
  column-count: 4;
  @extend %page_ids__profile_group_block_columns;
}


html {
  font-size: 13px;

  @include breakpoint($medium) {
    font-size: 13px;
  }

  @include breakpoint($large) {
    font-size: 15px;
  }

  @include breakpoint($x-large) {
    font-size: 17px;
  }
}

h1, h3, h4, h5, h6 {
  margin: 1.7em 0 0;
}

h2 {
  margin: 0;
}

ul li,
ol li {
  margin-bottom: 0.2em;
  margin-top: 0.2em;
}

table {
  display: table;
}

tfoot tr td {
  border-top: 1px solid lightgrey;
}

th {
  border-bottom: 1px solid mix(#000, $border-color, 25%);
}

td {
  border: 0px;
}


a {
  text-decoration: none;
}

figure {
  margin-top: 1em;
}

img {
  border: 1px solid lightgray;
}
